{% extends 'web/basic.html'%}
{% block title %}Password reset{% endblock %}
{% block header %}
<header class="masthead" style="padding-top: 10px; padding-bottom: 80px;"></header>
{% endblock %}
{% block content %}
<h1>Сброс пароля</h1>
{% if validlink %}
    <p>Пожалуйста, введите Ваш новый пароль дважды:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Подтвердить" /></p>
    </form>
{% else %}
    <p>Ваш ссылка для сброса пароля не валидна, возможно она уже была использована. Пожалуйста, запросите новую ссылку</p>
{% endif %}
{% endblock %}